## importar librerias

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## cargar CSV

In [3]:
dataset = pd.read_csv("Tarifas_aplicadas_de_Gas_Natural_20250813.csv")
dataset.head()

,ANO,MES,EMPRESA,MUNICIPIOS,NIT,ID MERCADO,ID_EMPRESA,ESTRATO,CONEXION,REINSTALACION,RECONEXION,CARGO_FIJO,RANGO_0,RANGO_21
0,2023,10,EFIGAS GAS NATURAL S.A. E.S.P.,BALBOA - DOSQUEBRADAS - LA CELIA - LA VIRGINIA...,8002023953,167,1887,1,718800.0,222500.0,51000.0,0.0,1264.72,2427.17
1,2023,10,EFIGAS GAS NATURAL S.A. E.S.P.,CHINCHINA - MANIZALES - NEIRA - PALESTINA - VI...,8002023953,168,1887,1,718800.0,222500.0,51000.0,0.0,1268.00,2451.65
2,2023,10,EFIGAS GAS NATURAL S.A. E.S.P.,AGUADAS - ANSERMA - ARANZAZU - BELALCAZAR - PA...,8002023953,107,1887,1,718800.0,222500.0,51000.0,0.0,1413.73,2904.96
3,2023,10,EFIGAS GAS NATURAL S.A. E.S.P.,ARMENIA - CALARCA - CIRCASIA - FILANDIA - LA T...,8002023953,166,1887,1,718800.0,222500.0,51000.0,0.0,1372.52,2696.27
4,2023,10,EFIGAS GAS NATURAL S.A. E.S.P.,ARMENIA - CALARCA - CIRCASIA - FILANDIA - LA T...,8002023953,166,1887,2,718800.0,222500.0,51000.0,0.0,1714.46,2696.27

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165360 entries, 0 to 165359
Data columns (total 14 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   ANO            165360 non-null  int64
 1   MES            165360 non-null  int64
 2   EMPRESA        165360 non-null  object
 3   MUNICIPIOS     165360 non-null  object
 4   NIT            165360 non-null  int64
 5   ID MERCADO     165360 non-null  int64
 6   ID_EMPRESA     165360 non-null  int64
 7   ESTRATO        165360 non-null  int64
 8   CONEXION       165360 non-null  float64
 9   REINSTALACION  165360 non-null  float64
 10  RECONEXION     165360 non-null  float64
 11  CARGO_FIJO     165360 non-null  float64
 12  RANGO_0        165360 non-null  float64
 13  RANGO_21       165360 non-null  float64
dtypes: float64(6), int64(6), object(2)
memory usage: 17.7+ MB

In [5]:
dataset.describe()

,ANO,MES,NIT,ID MERCADO,ID_EMPRESA,ESTRATO,CONEXION,REINSTALACION,RECONEXION,CARGO_FIJO,RANGO_0,RANGO_21
count,165360.000000,165360.000000,1.653600e+05,165360.000000,165360.000000,165360.000000,1.653600e+05,1.653600e+05,1.653600e+05,1.653600e+05,1.653600e+05,165360.000000
mean,2016.445549,6.491570,8.534958e+09,133.489375,4670.692846,3.360414,5.743195e+05,1.840359e+05,2.811998e+04,2.128677e+03,1.931036e+03,1416.393095
std,4.579813,3.422467,4.191090e+08,155.417586,8519.143819,1.692553,1.705539e+05,1.375608e+05,2.980584e+04,1.308642e+04,1.382530e+04,1324.447965
min,2004.000000,1.000000,8.000078e+09,9.000000,484.000000,1.000000,0.000000e+00,0.000000e+00,0.000000e+00,-1.009710e+03,0.000000e+00,0.000000
25%,2014.000000,4.000000,8.040028e+09,37.000000,564.000000,2.000000,4.891250e+05,8.526300e+04,2.066000e+04,0.000000e+00,8.618191e+02,671.510000
50%,2017.000000,7.000000,8.901017e+09,103.000000,620.000000,3.000000,5.503270e+05,1.563850e+05,2.717100e+04,2.266605e+03,1.379000e+03,1390.980000
75%,2020.000000,9.000000,8.909050e+09,167.000000,2097.000000,5.000000,6.272080e+05,2.225000e+05,3.487500e+04,3.382510e+03,2.204250e+03,2009.530000
max,2023.000000,12.000000,9.010428e+09,1825.000000,37253.000000,6.000000,1.870000e+06,9.826062e+06,4.600208e+06,3.723696e+06,5.119020e+06,157525.000000